#main {
    background-color: white;
    padding: 20px 40px 50px 40px;
    height: auto;
}

#title {
    font-weight: bold;
    color: #0E3345;
}

#globalBtns {
	position: relative;
	top: 10px;
}

#search {
    background-image: url('searchicon.png'); /* Add a search icon to input */
    background-position: -3px -7px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    font-size: 16px; /* Increase font-size */
    padding: 4px 20px 4px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

.row {
    position: relative;
    top: 20px;
}

#inputForm {
    border-radius: 8px;
    border-top: 12px;
    border-bottom: 1px;
    border-left: 1px;
    border-right: 1px;
    border-color: #337ab7;
    border-style: solid;
}

.inputForm-lg {
    padding-top: 15px;
    height: 260px;
    width: 1120px;
}

.inputForm-md {
    padding-top: 15px;
    height: 260px;
    width: 680px;
}

.inputForm-sm {
    padding-top: 15px;
    height: 260px;
    width: 300px;
}

#role_btn {
    background-color: #5580D4;
}

body {
    background-color: #0E3345;
}